<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/webtools_test?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.hbm2dll.import_files">import.sql</property>
        <property name="connection.autocommit">true</property>
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="com.neu.edu.pojo.Guest"/>
        <mapping class="com.neu.edu.pojo.Payment"/>
        <mapping class="com.neu.edu.pojo.Role"/>
        <mapping class="com.neu.edu.pojo.Room"/>
        <mapping class="com.neu.edu.pojo.Users"/>
        <mapping class="com.neu.edu.pojo.Booking"/>
    </session-factory>
</hibernate-configuration>
